<a href = "{{product.url}}">
    <img src = "{{product.featured_image | image_url}}"/>
    <p>{{- product.title | link_to: product.url }}</p> 
    <p style="color:#BD6792;">Some Collections</p>
    <div style="display: flex; gap: 15px; justify-content: center;">
        <p style="color:#C6C6C6; text-decoration: Line-through">{{product.compare_at_price | money}} USD</p>
        <p>{{product.price | money}} USD</p>
    </div>	
</a>